<blockquote>
  <ul>
    <li>すごく時間がかかるのでデフォルトではオフになっています（環境設定からオンにできます）。メガピクセルごとに300MB RAMが必要で、プロセスに1分以上かかります。大きい画像の場合、ギガバイトのメモリを使用し30分かかるのが普通です。</li>
    <li>JPEGの画質が85以下の画像には効果的ではありません。Guetzliの使用には画質が100%のJPEGに有効です。</li>
    <li>カラープロフィールをサポートしないのでsRGBのみ使用してください。</li>
    <li>同じ画像に2度Guetzliを使うことは推奨しません。ファイルサイズの縮小より画像のクオリティを下げてしまいます。ファイルサイズの縮小には、GuetzliをオフにしてLossyモードをオンにしてください。</li>
  </ul>
  <p>このバージョンにはmacOS 10.9（Mavericks）以上が必要です。全ての機能を使うにはmacOS 10.10（Yosemite）以上が必要です。</p>
  <p><cite class="bm-none">&ndash; <a href="https://imageoptim.com/changelog.html#v1.7.1" target="_blank">ImageOptim Changelog 1.7.1a4 <span class="icon-windows"></span></a> からの引用の意訳</cite></p>
</blockquote>
