<ul class="ul-deco">
<li>企業や組織のブランドイメージを統一するためにまとめられたガイドライン</li>
<li>ロゴの使い方、配色パターン、タイポグラフィなどのビジュアルデザインを定義する</li>
<li>より総括的なものだと文章のトーン&マナーなどのコミュニケーションデザインを定義する場合もある</li>
<li>UIパターンやコンポーネントのデザイン一覧（パターンライブラリ）を含む場合もある</li>
</ul>
