<ul class="custom-recommend">
  <li><a href="http://fractal.build/" target="_blank">Fractal <span class="icon-windows"></span></a></li>
  <li><a href="http://patternlab.io/" target="_blank">Pattern Lab <span class="icon-windows"></span></a>
  <li><a href="http://warpspire.com/kss/" target="_blank">KSS <span class="icon-windows"></span></a></li>
  <li><a href="http://jacobrask.github.io/styledocco/" target="_blank">Styledocco <span class="icon-windows"></span></a></li>
  <li><a href="https://trulia.github.io/hologram/" target="_blank">Hologram <span class="icon-windows"></span></a></li>
  <li><a href="https://frontify.com/styleguide" target="_blank">Frontify <span class="icon-windows"></span></a></li>
</ul>
