<h2>Bash</h2>
<pre class="language-bash"><code>% fractal build</code></pre>

<h2>HTML</h2>
<pre class="language-html"><code>&lt;link media="all" rel="stylesheet" href="/rriver/wp/wp-content/themes/rriver2/style.min.css"></code></pre>

<h2>JavaScript</h2>
<pre class="language-javascript"><code>fractal.web.set('static.path', __dirname + '/wp/wp-content/themes/rriver2');
fractal.web.set('static.mount', 'rriver/wp/wp-content/themes/rriver2');</code></pre>
