<p>最近、パターンライブラリの作成ツールを探していて「<a href="http://fractal.build" target="_blank">Fractal <span class="icon-windows"></span></a>」というツールを試しています。で、ふと「スタイルガイドとパターンライブラリの違いってなんだっけ？」という疑問が湧いたので、ちょっと整理してみました。ちなみに、どっちがいいかを書いているわけではないです。</p>
